body {
  margin: 0px;
  padding: 0px;
}

.main-container {
  padding-top: 10px;
  margin-bottom: 20px;
  margin: 22px auto;
  width: 95%;
  height: 570px;
  background-color: #d6ca1d;
  border-radius: 10px;
  border-style: solid;
  border-color: #E1E4E2;
  border-width: 1px;
  border-radius: 10px;
  margin: 0px auto;
}

.header {
  border-bottom-style: solid;
  border-bottom-color: #d6ca1d;
  border-bottom-width: 1px;
  display: flex;
  justify-content: space-between;
  background-color: #9b627809;
}

.logo {
  margin-left: 15px;
  }
  .empty {
    margin-right: 15px;
    width: 150px;
  }

.ims {
  width: 150px;
  height: 100px;
} 
/* 
.ims:hover {
  height: 100px;
  width: 100px;
} */

/* .name {
  border-bottom-style: solid;
  border-bottom-color: #eee346;
  border-bottom-width: 1px;
  display: flex;
  justify-content: center;
  background-color: #9b627809;

} */

.name-b {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  font-family: lato;
  font-weight: 900;
  font-size: 50px;
  width: 400px;
  border-radius: 20px;
  border: 1px solid #E1E4E2;
}

@font-face {
  font-family: "lato";
  src: "Lato-Regular.ttf";
}

.main {
  display: flex;
  justify-content: center;
  background-color: #E1E4E2;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 428px;
  width: 100%;
  /* margin: auto; */
}

.buttons {
  position: absolute;
  top: 150px;
  width: 100%;


}

.pas {
  position: absolute;
  top: 190px;
  left: 460px;
  display: flex;
  justify-content: center;
}

.pin {
  height: 50px;
  width: 400px;
  margin-top: 20px;
  border-style: solid;
  border-radius: 30px;
  border-color: #d6ca1d;
  background-color: #d6ca1d;
  padding-left: 20px;
  outline: none;
  color: black;
  background-color: white;
  font-size: 20px;
}

::placeholder {
  font-size: 20px;
}

.buttons-right {
  float: right;
  width: 50%;
  display: inline;
}

.buttons-left {
  float: left;
  width: 50%;
  display: inline;
}

.btn {
  display: flex;
  height: 50px;
  width: 400px;
  margin-top: 20px;
  border-style: solid;
  border-radius: 30px;
  border-color: white;
  background-color: #d6ca1d;
  color: black;
  outline: none;


}

.btn:hover {
  background-color: #E1E4E2;
}

.btn-text {
  font-size: 17px;
  text-align: center;
  font-weight: 600;
  padding-left: 110px;
  padding-top: 2px;
  outline: none;
}

.buttons-left {
  margin-left: 160px;
  margin-top: 30px;
}

.buttons-right {
  margin-left: 0px;
  margin-top: -210px;

}

.btnOK {
  width: 100px;
  height: 55px;
  border-style: 2px solid #E1E4E2;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-color: #d6ca1d;
  background-color: #d6ca1d;
  color: black;
  font-family: lato;
  font-weight: 900;
  font-size: 17px;
  position: relative;
  top: -2px;
  right: 102px;
  outline: none;
}

.head1 {
  margin-right: 100px;
}

.btnOK:hover {
  background-color: #E1E4E2;
  color: black;
  outline: none;
}


.heading {
  text-align: center;
  font-family: lato;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;

}

.btnk {
  height: 40px;
  width: 150px;
  border: 1px solid #E1E4E2;
  background-color: #d6ca1d;
  color: black;
  border-radius: 10px;
  position: absolute;
  top: 150px;
  left: 160px;
}




/* .bin {
    display: flex;
    align-items: center;
  } */
.ple {
  margin: 0px auto;
}

.hid {
  margin-top: 100px;
  color: black;
}

.kind {
  height: 10px;
  width: 250px;
  /* border: 0.01px solid black; */
  position: absolute;
  top: 130px;
  left: 105px;
  background-color: rgba(75, 12, 42, 0.87);

}

/* hiden {
  margin-top: 60px;
} */

.kin {
  background-color: aqua;
  border: 2px solid rgb(6, 119, 66);
}

.kind:hover {
  height: 13px;
  width: 270px;
}

#pinMsg {
  color: black;
}

.transcations {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  
}

/* .trant {
  position: absolute;
  top: 210px;
  left: 560px;
}

.track {
  position: absolute;
  top: 205px;
  left: 460px;
} */

/* .pinTxt {
  margin-top: 55px;
  margin-bottom: 10px;
} */


